.categories_container {
  list-style: none;
  width: 3rem;
  height: auto;
  padding: 2rem 0 0 0;
  li {
    padding: 2.5rem 0 0 0;
    width: 10rem;
    display: flex;
    .categories_block {
      width: 30%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }
    }
    .text_main {
      width: 70%;
      height: auto;
      display: flex;
      align-items: center;
      span {
        width: 0;
        white-space: nowrap;
        padding: 0 0 0 1rem;
        font-size: 1rem;
        color: white;
        overflow: hidden;
        font-family: 'Jost', sans-serif;
      }
    }
  }
}
.profile {
  box-shadow: 0 0 1rem rgb(0, 128, 255);
}
.skils {
  box-shadow: 0 0 1rem rgb(255, 238, 0);
}
.folder {
  box-shadow: 0 0 1rem rgb(255, 0, 0);
}
.contact {
  box-shadow: 0 0 1rem rgb(153, 0, 255);
}
.profile_text {
  background-color: #3273c4;
  box-shadow: 0 0 1rem rgb(0, 128, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}
.profile_skils {
  background-color: #cdb73c;
  box-shadow: 0 0 1rem rgb(255, 238, 0);
  border-radius: 0 0.5rem 0.5rem 0;
}
.profile_folder {
  background-color: #cc2d20;
  box-shadow: 0 0 1rem rgb(255, 0, 0);
  border-radius: 0 0.5rem 0.5rem 0;
}
.profile_contact {
  background-color: #7214ad;
  box-shadow: 0 0 1rem rgb(153, 0, 255);
  border-radius: 0 0.5rem 0.5rem 0;
}
