.categories_navigate_container {
  width: 100%;
  height: 60%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  li {
    width: 50%;
    height: auto;
    padding: 35px 0 0 0;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

.profile_style {
  width: 100%;
  height: 95%;
  box-shadow: 0 0 10px rgb(0, 162, 255);
  border-radius: 10px;
}
.skils_style {
  width: 100%;
  height: 95%;
  box-shadow: 0 0 10px rgb(238, 255, 0);
  border-radius: 10px;
}
.folder_style {
  width: 100%;
  height: 95%;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  border-radius: 10px;
}
.contact_style {
  width: 100%;
  height: 95%;
  box-shadow: 0 0 10px rgb(170, 0, 255);
  border-radius: 10px;
}
